* {
    box-sizing: border-box;
    font-family: Helvetica;
    background-color: black;
    opacity: 0.9;
    color: seashell;
    margin: 0; /* border-box不包括对margin的设定，chrome默认有margin*/
}

html {
    font-size: 22px;
}

/* header section*/

header {
    width: 100%; /*不占据100%则flex内元素会聚集*/
    height: 69px;
    padding-left: 10px;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    opacity: 1;
}

#logo {
    height: 50px;
}

a {
    color: seashell;
    margin: 10px;
}

a:hover {
    color:coral;
}

a:active {
    color:rgb(74, 216, 221);
}

/* main section */

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 70px;
}

/* jumbotron section */


.jumbotron {
    width: 90%;
    max-width: 1200px;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../images/img-mission-background.jpg");
    background-image: center;
    margin-bottom: 4%;
}

.jumbotron h2, .jumbotron h4 {
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 10px;
}

/* monthly section */

.monthly {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4%;
}

.monthly h2, .monthly h4 {
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure img {
    width: 300px;
    height: 200px;
}

figure {
    padding: 15px;
}

figure figcaption {
    text-align: center;
}

/* locations section */

.locations {
    max-width: 1200px;
    height: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/img-locations-background.jpg");
    background-image: center;
}

.locations h2 {
    background-color: transparent;
    margin-top: 5%;
    opacity: 1;
}

.location-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: transparent;
    opacity: 1;
}

.address h3, .address p {
    background-color: rgba (0, 0, 0, 0);
}

.address {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 280px;
    margin: 15px 40px;
    align-items: center;
    justify-content: space-around;
    opacity: 1;
}

/* footer section */

footer {
    width: 100%;

}

.contact {
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}

.copyright {
    text-align: left;
    margin-left: 20px;
}